body {
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
	display: block;
}

.slider-main {
	width: 300px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

#toggle {
	text-align: center;
	position: absolute;
	height: 48px;
	width: 96px;
	background: rgba(100,100,100,1);
	
}

.red {
	background: rgba(255, 144, 144, 1) !important;
}

.blue {
	background: rgba(144, 144, 255, 1) !important;
}

.markings {
	padding-top: 16px;
}

svg {
	position: absolute;
}

.output {
	position: absolute;
	bottom: 0vh;
	width: 96px;
	height: 48px;
	display: block;
}

.hide {
	opacity: 0;
}