body {
	background-color: #fafafa;
	font-family: 'Roboto', 'Noto', sans-serif;
}

.main {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

paper-progress {
	width: 100%;
	position: fixed;
}

paper-card:first-of-type {
	margin-top: 4px;
}

paper-card {
	width: 100%;
	padding: 16px;
	margin-top: 16px;
}

.sub-cc {
	margin-right: 16px;
}